*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }

 .individual-container {
   display: inline-block;
   height: 550px;
   text-align: center;
   padding: 5px;
 }

 img {
   width: 280px;
 }

.line {
  border-top: 1px solid #24A059;
  margin-left: 95px;
  margin-right: 95px;
  margin-top: 5px;
  margin-bottom: 12px;
}

.name {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.email {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #D9D7D6;
  margin-bottom: 20px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #7B7A7B;
  padding-bottom: 5px;
}

.phone {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #7B7A7B;
  padding-bottom: 25px;
}

.ss-num {
  filter: blur(4px);
}

.ss-num:hover {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #7DC07C;
    filter: blur(0px);  
}
